{% extends 'common.html' %} {% load static %} {% block head %}
<title>Attendees List</title>
{% endblock %} 

{% block content %}
<div style="text-align:center; margin:auto; width:50%">
<h1 style="text-align:center; color:#ffc107;" class="mb-5 mt-5" > List of Attendees </h1>
    <table class="table table-bordered" style="color:white;">
    <thead>
         <th scope="col"><h3>Status</h3></th>
         <th scope="col"><h3>Name</h3></th>
         <th scope="col"><h3>Time</h3></th>
    </thead>

    <tbody>        
        {% for i in obj1%}
        <tr>                 
            <th style="color:#05b805;"> PRESENT </th>            
            <td>{{i.username}}</td> 
            <td>{{i.a_time}}</td>  
         
        </tr>
        {%endfor%}
        {% for i in obj2%}
        <tr>                 
            <th style="color:red;"> ABSENT </th>            
            <td>{{i.username}}</td> 
            <td>{{i.a_time}}</td>  
         
        </tr>
        {%endfor%}
    </tbody>    
    </table>
    </div>
{% endblock %}
  