{% extends 'common.html' %} {% load static %} {% block head %}
<title>Home</title>
{% endblock %} {% block content %}


<div style="display:flex; justify-content: end;margin: 10px;" >
<a class="btn btn-outline-warning"  href="{% url 'AttendeeList' %}" role="button">Generate Attendee List</a>
</div>
<div class="butt" style="display:flex; justify-content: center;text-align: center;">
  <a class="btn btn-outline-warning mx-2" href="{% url 'base' %}" role="button">Mark Attendance</a>
  <a class="btn btn-outline-warning" href="{% url 'register' %}" role="button">Student Registration</a>
</div>

{% endblock %}
